@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Strona główna</h1>
    <p>Strona zawierająca kilka projektów w 1. <br />W tym przykładowe Filmy (Movies) bezpośrednio ze strony microsoft...</p>
    <p>Link do strony <a href="https://learn.microsoft.com/pl-pl/aspnet/core/tutorials/razor-pages/?view =aspnetcore-7.0"> Microsoft samouczek</a></p>
    <hr />
    <h1 class="display-4">Menu: </h1>
    <p>1. Filmy <a href="/Movies/Index">Movies</a>.</p>
</div>
